<aside class="sidebar">

  {% if page.id %}
  <div class="widget widget-recent">
    <h3 class="widget-title">Recent Posts</h3>
    {% for post in site.posts limit:4 %}
    <div class="recent-posts">
      {% if post.image %}
      <div class="recent-header">
        <a class="recent-image" href="{{ post.url | relative_url }}" style="background-image: url({{ '/assets/img/' | append: post.image | relative_url }})"></a>
      </div>
      {% endif %}
      <div class="recent-content">
        <h6 class="recent-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h6>
        <div class="recent-date">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="widget widget-social">
    <h3 class="widget-title">Subscribe & Follow</h3>
    <ul class="social-profiles list-reset">
      {% if site.twitter %}
      <li class="social-profiles-item">
        <a href="{{ site.twitter }}" class="social-profiles-link" target="_blank" rel="noopener"><i class="ion ion-logo-twitter"></i></a>
      </li>
      {% endif %}
      {% if site.instagram %}
      <li class="social-profiles-item">
        <a href="{{ site.instagram }}" class="social-profiles-link" target="_blank" rel="noopener"><i class="ion ion-logo-instagram"></i></a>
      </li>
      {% endif %}
      {% if site.github %}
      <li class="social-profiles-item">
        <a href="{{ site.github }}" class="social-profiles-link" target="_blank" rel="noopener"><i class="ion ion-logo-github"></i></a>
      </li>
      {% endif %}
    </ul>
  </div>

  {% if site.buymeacoffee %}
  <div class="widget widget-buymeacoffee">
    <h3 class="widget-title">Support</h3>
    <center>
      <a href="{{ site.buymeacoffee }}" class="coffee-button" target="_blank" rel="noopener">
        <img alt="Buy me a coffee" src="{{ '/assets/img/buymeacoffee.png' | relative_url }}"/>
      </a>
    </center>
  </div>
  {% endif %}

  <div class="widget widget-tags">
    <h3 class="widget-title">Tag Cloud</h3>
    {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
    {% assign tag_words = site_tags | split:',' | sort %}
    <ul class="tag-list list-reset">
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
      {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
      <li class="tag-item"><a href="{{ site.baseurl }}/tags#{{ this_word | cgi_escape }}" class="tag">{{ this_word }}</a></li>
    {% endunless %}{% endfor %}
    </ul>
  </div>

</aside>
